@import '../../index.css';

.auth {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.head {
    @apply text-lg m-3 uppercase;
}

.buttons {
    @apply bg-gradient-to-r from-gray-600 via-gray-200 to-gray-200 px-4 py-3 flex justify-between
}