@import '../../../index.css';

.goal {
    @apply flex p-2 justify-between
}

.icon {
    @apply h-10 w-10 rounded-full flex items-center justify-center text-lg;
    background: #f3f4f6;
    box-shadow: inset 0.2em 0.2em calc(0.2em * 2) #ADB4C2, inset calc(0.2em * -1) calc(0.2em * -1) calc(0.2em * 2) #ffffff;
}

.bar1 {
    @apply h-1 w-28 rounded bg-gradient-to-l from-gray-300 to-gray-100;
    box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px #f7f7f7;
}

.bar2 {
    @apply h-1 rounded bg-gradient-to-l from-green-200 to-blue-500;
}